//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/d2menu.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
@theme "/usr/share/rofi/themes/d2menu.rasi"
